/* Global Styles */
* {
    margin: 0;
}

body {
    background-color: #35478C;
}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

a {
    color: #16193B;
}

a:hover {
    text-decoration: none;
}

/* Mobile Styles */

#container {
    border: 4px solid #16193B;
    width: 65%;
    margin: 20px auto;
    border: 4px solid #330136;
    padding: 20px;
    border-radius: 20px;
}

nav {
    text-align: center;
}

nav ul {
    padding: 0;
    list-style-type: none;
}

nav li {
    display: block;
}

nav li a {
    display: block;
    background-color: #4E7AC7;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    font-size: 25px;
    border-bottom: 4px solid #16193B;
}

main h2 {
    text-align: center;
    color: #16193B;
}

main h3 {
    text-align: center;
    color: #16193B;
}

nav li a:hover {
    background-color: #7FB2F0;
}

main {
    padding: 10px;
    margin: 10px;
}

.main_content {
    padding: 10px;
}

.col {
    margin: 10px 0;
}

.col img {
    border-radius: 10px;
    border: 2px solid #7FB2F0;
}

footer {
    padding: 40px;
    text-align: center;
}

iframe {
    display: block;
    margin: 20px auto;
    width: 65%;
    height: 450px;
}

.step1_content {
    text-align: center;
}

.img_style {
    width: 75%;
    border: 2px solid #330136;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #330136;
    margin-top: 20px;
    margin-bottom: 20px;
}

hr {
    border: 1px solid #330136;
}

section, aside {
    border-radius: 10px;
    border: 2px solid #330136;
    margin: 20px;
    padding: 20px;
}


/* Tablet Styles */

@media (min-width: 768px) {
   nav {
    padding: 10px 0;
    border-bottom: 4px solid #16193B;
   }
   
    nav li {
        display: inline;
    }

    nav li a {
        display: inline-block;
        width: 150px;
        height: 40px;
    }

    main {
        margin-top: 10px;
    }

    .col img {
        width: 65%;
    }
}

/* Desktop Styles */
@media (min-width: 1024px) {
    #container {
    width: 65%;
    margin: 20px auto;
    background-color: #47647D;
}

.gallery {
    display: flex;
}

.col {
    border: 2px solid #16193B;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.col img {
    width: 100%;
}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.multi_col {
    display: flex;
}


.home_section {
    width: 70%;
}

.home_aside {
    width: 30%;
}

}