body {
    background-color: #962E40;
    color: #330136;
}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

a {
    color: #5E1742;
}

a:hover {
    color: #330136;
    text-decoration: none;
}

#container {
    background-color: #C9463D;
    width: 65%;
    margin: 20px auto;
    border: 4px solid #5E1742;
    padding: 20px;
    border-radius: 20px;
}

header {
    text-align: center;
    padding: 40px;
    border-bottom: 2px solid #330136;
}

header h1 {
    font-size: 50px;
    color: #330136;
    text-shadow: 2px 2px 2px #330136;
}

nav {
    text-align: center;
    border-bottom: 2px solid #330136;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav li a {
    display: block;
    background-color: #962E40;
    color: #330136;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 25px;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid #330136;
}

nav li a:hover {
    color: #330136;
    background-color: #5E1742;
}

main h2 {
    text-align: center;
    color: #330136;
}

.multi_col {
    display: flex;
}


section, aside {
    border-radius: 10px;
    border: 2px solid #330136;
    margin: 20px;
    padding: 20px;
}

section {
    width: 75%;
}

aside {
    width: 30%;
    height: 50%;
}

section img {
    border-radius: 10px;
    border: 2px solid #330136;
    width: 75%;
}

footer {
    padding: 40px 0;
    text-align: center;
}

.img_style {
    width: 75%;
    border: 2px solid #330136;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #330136;
    margin-top: 20px;
    margin-bottom: 20px;
}

hr {
    color: 1px solid #330136;
}

iframe {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    border: 2px solid #330136;
}


.step1_content {
    text-align: center;
}

